<div class="d-flex flex-column px-5 py-2 bg-dark text-white">
  <div class="py-2">
    <h3>Dashboard</h3>
  </div>
  <div class="py-2">
    <a href="/dashboard">Home</a>
  </div>
  <div class="py-2">
    <a href="/users">Users</a>
  </div>
</div>
