<% layout('layout/app') %>

<div class="py-5 row align-items-center">
  <div class="col-md-12 d-flex justify-content-center py-5">
    <form class="form" action="/registrasi" method="POST">
      <p class="form-title">Registrasi</p>
      <div class="input-container">
        <input placeholder="Masukkan nama" name="nama" type="text" required />
      </div>
      <div class="input-container">
        <input
          placeholder="Masukkan email"
          name="email"
          type="email"
          required
        />
      </div>
      <div class="input-container">
        <input
          placeholder="Masukkan password"
          name="password"
          type="password"
          required
        />
      </div>
      <button class="submit" type="submit">Daftar</button>

      <p class="signup-link">
        Sudah punya akun?
        <a href="/login">Login</a>
      </p>
    </form>
  </div>
</div>
