<% layout('layout/app') %>
<div class="container">
  <div class="text-end">
    <a href="/logout" class="btn btn-outline-danger">Logout</a>
  </div>

  <div class="mb-3">
    <h2 class="text-center border-bottom pb-2">Prediksi Kelayakan</h2>
  </div>

  <!-- Formulir Prediksi -->
  <div class="card p-3 mt-3">
    <form id="prediksiForm">
      <div class="row mb-3">
        <label for="umur" class="col-sm-2 col-form-label">Umur</label>
        <div class="col-sm-10">
          <input
            type="number"
            min="1"
            class="form-control"
            name="umur"
            id="umur"
            placeholder="Masukkan umur"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="status_pernikahan" class="col-sm-2 col-form-label"
          >Status Pernikahan</label
        >
        <div class="col-sm-10">
          <select
            name="status_pernikahan"
            id="statusPernikahan"
            class="form-select"
            required
          >
            <option value="" selected hidden>Pilih Status Pernikahan</option>
            <option value="lajang">Lajang</option>
            <option value="menikah">Menikah</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="jaminan" class="col-sm-2 col-form-label">Jaminan</label>
        <div class="col-sm-10">
          <select name="jaminan" id="jaminan" class="form-select" required>
            <option value="" selected hidden>Pilih Jaminan</option>
            <option value="KTP">KTP</option>
            <option value="BPKB">BPKB</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="pekerjaan" class="col-sm-2 col-form-label">Pekerjaan</label>
        <div class="col-sm-10">
          <select name="pekerjaan" id="pekerjaan" class="form-select" required>
            <option value="" selected hidden>Pilih Pekerjaan</option>
            <option value="PNS">PNS</option>
            <option value="petani">Petani</option>
            <option value="pengangguran">Pengangguran</option>
            <option value="pelajar">Pelajar</option>
            <option value="karyawan">Karyawan</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="penghasilan" class="col-sm-2 col-form-label"
          >Penghasilan (Rp)</label
        >
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            name="penghasilan"
            id="penghasilan"
            placeholder="Masukkan penghasilan perbulan (Rp)"
            required
          />
        </div>
      </div>
      <div class="row mb-3">
        <label for="tempat_tinggal" class="col-sm-2 col-form-label"
          >Tempat Tinggal</label
        >
        <div class="col-sm-10">
          <select
            name="tempat_tinggal"
            id="tempatTinggal"
            class="form-select"
            required
          >
            <option value="" selected hidden>Pilih Tempat Tinggal</option>
            <option value="sendiri">Sendiri</option>
            <option value="kontrak">Kontrak</option>
          </select>
        </div>
      </div>
      <div class="text-center">
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#resultModal"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Modal Hasil Prediksi -->
<div
  class="modal fade"
  id="resultModal"
  tabindex="-1"
  aria-labelledby="resultModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">
          Hasil Prediksi Kelayakan
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="my-3">
          <table class="table table-bordered table-success">
            <tbody>
              <tr>
                <th class="col-7">Umur</th>
                <td class="col-5" id="modalUmur"></td>
              </tr>
              <tr>
                <th class="col-7">Status Pernikahan</th>
                <td class="col-5" id="modalStatusPernikahan"></td>
              </tr>
              <tr>
                <th class="col-7">Pekerjaan</th>
                <td class="col-5" id="modalPekerjaan"></td>
              </tr>
              <tr>
                <th class="col-7">Penghasilan</th>
                <td class="col-5" id="modalPenghasilan"></td>
              </tr>
              <tr>
                <th class="col-7">Tempat Tinggal</th>
                <td class="col-5" id="modalTempatTinggal"></td>
              </tr>
              <tr>
                <th class="col-7">Jaminan</th>
                <td class="col-5" id="modalJaminan"></td>
              </tr>
              <tr>
                <th class="col-7">Probabilitas Layak</th>
                <td class="col-5" id="modalProbLayak"></td>
              </tr>
              <tr>
                <th class="col-7">Probabilitas Tidak Layak</th>
                <td class="col-5" id="modalProbTidakLayak"></td>
              </tr>
              <tr>
                <th class="col-7">Hasil Kelayakan</th>
                <td class="col-5" id="modalHasilKelayakan"></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script src="/js/main.js"></script>
